*{
  box-sizing: border-box;
}

.background{
  width: 1920px;
  height:  1196px;
}
.wrapper{
  width: 540px;
  height: 960px;
  margin-top: 118px;
  margin-left: 690px;
  border: 1px solid #AACDFF;
  box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
  border-radius: 20px;
}

.head{
  width: 380px;
  height: 47px;
  font-size: 32px;
  font-weight: 700;
  margin-top: 60px;
  margin-left: 78px;
  color: #0068FF;
}

.check{
  width: 380px;
  height: 300px;
  margin-top: 60px;
  margin-left: 78px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 7px;
}

.box{
  width: 100%;
  height: 60px;
  border: 1px solid #0068FF;
}
.phonebo{
  width: 380px;
  height: 40px;
  margin-left: 78px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.phonebox{
  width: 100px;
  height: 40px;
  border: 1px solid #D2D2D2;
  border-radius: 7px;
}
.btnbox{
  width: 380px;
  height: 120px;
  margin-top: 20px;
  
}
.numbox{
  width: 380px;
  margin-left: 78px;
  display: flex;
  flex-direction: row;
  justify-content: right;

}
.sixnum{
  font-size: 16px;
  color:#0068FF;
}
.countbox{
  width: 380px;
  margin-top: 20px;
  margin-left: 78px;
  display: flex;
  flex-direction: row;
  justify-content: right;
}